<div class="box-body" ng-if="funCtrl.tabCreate || funCtrl.tabUpdate || funCtrl.tabDelete">
  <!-- Abas do cadastro do funcionario -->
  <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
              <li ng-if="funCtrl.tabDadosPessoais" ng-class="{active: funCtrl.tabDadosPessoais}">
                  <a href data-target="#tabDadosPessoais" data-toggle="tab" aria-expanded="true" >Dados pessoais</a>
              </li>
              <li ng-if="funCtrl.tabAddress">
                  <a href data-target="#tabAddress" data-toggle="tab" aria-expanded="false">Endereço</a>
              </li>
              <li ng-if="funCtrl.tabDadosComplementares">
                  <a href data-target="#tabDadosComplementares" data-toggle="tab" aria-expanded="false">Dados complementar</a>
              </li>
              <!-- <li ng-if="funCtrl.tabDadosAdministrativo">
                  <a href data-target="#tabDadosAdministrativo" data-toggle="tab" aria-expanded="false">Dados administrativos</a>
              </li> -->
          </ul>
      </div>
  </div>
</div>